{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 51.4893335,
    "longitude": -0.14405508452768728,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Africa/Johannesburg",
    "external_url": null,
    "internal_url": null,
    "currency": "GBP",
    "country": "GB",
    "language": "en",
    "radius": 100
  }
}